<template>

  <span show.bind="errors.length > 0" class="badge component-error-badge" data-html=true data-content="${errors}" rel="popover" data-container="body" data-placement="top" data-original-title="Errors (${errorCount})" data-toggle="popover">!</span>

  <div class="node-regular crypto-box">
    <p class="icon lock-icon"><i class="fa fa-lock"></i></p>
    <div class="buttons">
      <div class="actions">
        <form action="">
        
          <div id="iv-input" show.bind='sizeIV > 0' class="iv-input input-group input-group-sm">
            <span class="input-group-addon" id="basic-addon1">IV</span>
            <input type="text" class="form-control" value.bind="iv" aria-describedby="basic-addon1" length.bind="2 * sizeIV">
          </div>

          <div class="dropdowns">
            <div class="dropdown">
              <button class="btn btn-default btn-sm dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                ${op}
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a click.trigger="opChanged('encrypt')">encrypt</a></li>
                <li><a click.trigger="opChanged('decrypt')">decrypt</a></li>
              </ul>
            </div>

            <div class="dropdown">
              <button class="btn btn-default btn-sm dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                ${algorithm}
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a click.trigger="algorithmChanged('DES-ECB')">DES-ECB</a></li>
                <li><a click.trigger="algorithmChanged('DES-CBC')">DES-CBC</a></li>
              </ul>
            </div>

          </div>
        </form>
      </div>
    </div>
  </div>
</template>
